<div class="modal" id="modal-1">
    <div class="modal__blur"></div>
    <div class="modal__container">

        <h2>Modal window</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto consequuntur, culpa dicta dolores est exercitationem explicabo fuga fugit illo, impedit ipsa modi, odio repudiandae voluptates. Animi ea error magnam?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi doloremque expedita nemo quidem ratione, tenetur veritatis! Accusamus animi cumque dolore dolorum et expedita id magnam perspiciatis. Ducimus, eum explicabo.
        </p>
        <button class="button button--large">
            Book now
        </button>
        <button class="modal__hide">
            X
        </button>
    </div>
</div>


<div class="modal is-active" id="test123">
    <div class="modal__blur"></div>
    <div class="modal__container">

        <h2>Modal window</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto consequuntur, culpa dicta dolores est exercitationem explicabo fuga fugit illo, impedit ipsa modi, odio repudiandae voluptates. Animi ea error magnam?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi doloremque expedita nemo quidem ratione, tenetur veritatis! Accusamus animi cumque dolore dolorum et expedita id magnam perspiciatis. Ducimus, eum explicabo.
        </p>
        <button class="button button--large">
            Book now
        </button>
        <button class="modal__hide">
            X
        </button>
    </div>
</div>