---
layout: page
permalink: /diagnostic/
title: Діагностичні центри
---

<div class="container">
  <h1>
    Діагностичні центри
  </h1>
  <div class="card-wrapper">
    {% include card-clinic.html class="card--prime" %}
    {% include card-clinic.html %}
    {% include card-clinic.html %}
    {% include card-clinic.html %}
    {% include card-clinic.html %}
    {% include card-clinic.html %}
    {% include card-clinic.html %}
    {% include card-clinic.html %}
    {% include card-clinic.html %}
    {% include card-clinic.html %}
    {% include card-clinic.html %}
  </div>
</div>