---
layout: page
permalink: /doctors/
title: doctors
description: Кращі лікарі України Кращі лікарі України
---

<section>
    <div class="container">
        <h1>
            Кращі лікарі України
        </h1>
        <div class="card-wrapper">
            {% include card-doc.html class="card--prime" %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
        </div>
    </div>
</section>
