---
layout: page
permalink: /doctors/
title: doctors
---

<section>
    <div class="container">
        <h1>
            Кращі лікарі Києва
        </h1>
        <div class="card-wrapper">
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
        </div>
    </div>
</section>
