---
layout: page
permalink: /ua/
title: Urk clinic
description: Urk clinic home description
---
<div class="home">
    <div class="container">
        <h1>
            Home page Ukraine language
        </h1>
        <p>
            link to: <a href="/ua/">ua version</a>
        </p>
    </div>
</div>

<section>
    <div class="container">
        <h2>FAQ</h2>
        {% include faq.html %}
        <h2>FAQ 2</h2>
        {% include faq.html %}
        <h2>
            Кращі клініки
        </h2>
        <div class="card-wrapper">
            {% include card-clinic.html %}
            {% include card-clinic.html %}
            {% include card-clinic.html %}
            {% include card-clinic.html %}
            {% include card-clinic.html %}
            {% include card-clinic.html %}
            {% include card-clinic.html %}
            {% include card-clinic.html %}
            {% include card-clinic.html %}
            {% include card-clinic.html %}
            {% include card-clinic.html %}
        </div>
    </div>
</section>


<section>
    <div class="container">
        <h2>
            Кращі Лікарі
        </h2>
        <div class="card-wrapper">
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
            {% include card-doc.html %}
        </div>
    </div>
</section>


{% include modal.html %}