<div class="card-blog">
    <div class="card-blog__image">
        <img src="/images/blog/kak-ukrepit-immunitet.png" alt="">
        <div class="card-blog__category">
            Категорія:
            <span>
                імунітет
            </span>
        </div>
    </div>
    <div class="card-blog__content">
        <a href="/blog/kak-ukrepit-immunitet/" class="card-blog__title">
            Як зміцнити імунітет?
        </a>

        <div class="card-blog__description">
            Якщо в дитинстві&nbsp; ставлення до застуд зазвичай простіше, &laquo;всім класом перехворіють &ndash; міцніші будуть&raquo;, з віком питання &laquo;як не захворіти та чим зміцнити імунітет&raquo; стає більш актуальним. Дітям для формування імунітету дійсно потрібно активно зустрічатись з вірусами, щоб виробити власний захист, тоді як імунітет дорослого &ndash; вже стала система, яку необхідно підтримувати. У цій статті ми розповімо про ознаки слабкого імунітету у дорослого та про те, як підняти імунітет дорослому
        </div>
    </div>
</div>