<div class="card-blog">
    <div class="card-blog__image">
        <img src="/images/blog/kak-ukrepit-immunitet.png" alt="">
        <div class="card-blog__category">
            Категорія:
            <span>
                Алкоголизм
            </span>
        </div>
    </div>
    <div class="card-blog__content">
        <a href="/blog/kak-ukrepit-immunitet/" class="card-blog__title">
            Как укрепить иммунитет?
        </a>

        <div class="card-blog__description">
            Если в детстве отношение к простудам более простое, «всем классом переболеют – крепче будут», с возрастом вопрос «как не заболеть и чем укрепить иммунитет» становится более актуальным. Детям для формирования иммунитета действительно нужно активно встречаться с вирусами, чтобы выработать собственную защиту, тогда как иммунитет взрослого – уже сформированная система, которую необходимо поддерживать. В этой статье мы расскажем о признаках слабого иммунитета у взрослого и о том, как поднять иммунитет взрослому.
        </div>
    </div>
</div>