<div class="card {{ include.class}}">
    <div class="card__flag">
        <span class="card__flag-style">
            Преміум
        </span>
        <div class="tooltip">
            Клиника имеет высокий рейтинг и мы гарантируем быструю запись на прием
        </div>
    </div>
    <div class="card__row">
        <div class="card__col-photo">
            <img src="/images/clinic/oksford-medikal.jpg" class="card__photo" alt="«Оксфорд Медикал» (Oxford Medical) Киев">
        </div>
        <div class="card__col-content">
            <div class="card__item-header">
                <div class="card__item-name-wrapper">
                    <div class="card__item-name h3">
                        «Оксфорд Медикал» (Oxford Medical) Киев
                    </div>
                    <div class="card__item-short-name">
                        Медицинский центр
                    </div>
                </div>
                <div class="card__item-rate">
                    <div class="star-rate">
                        <div class="star-rate__mark">
                            4.9
                        </div>
                        <div class="star-rate__stars">
                            *****
                        </div>
                    </div>
                    <a class="link" href="#">
                        2040 отзывов
                    </a>
                </div>
            </div>
            <div class="card__short-info text">
                Массаж, Нейрохирургия, Ортопедия, Пластическая хирургия, Проктология, Репродуктология, Терапия, УЗ-диагностика, Урология, Флебология, Хирургия, Эндокринология, Семейная медицина, Эндоскопия, Дерматовенерология, Дерматология, Кардиология, Косметология, Неврология, Рентгенология, Травматология, Стоматология, Ортодонтия, Педиатрия, Оториноларингология, Офтальмология, Ревматология, Дневной стационар, Функциональная диагностика, Аллергология
            </div>
            <div class="card__description text--sub">
                Сеть медицинских центров широкопрофильного типа «Оксфорд Медикал» проводит свою деятельность по всему миру, а в Украине сеть представлена 30 клиниками в 19 городах, 7 из которых работают в Киеве. В «Оксфорд Медикал» пациентам предлагается полнейший спектр услуг по семейной и эстетической медицине, стоматологии, включая уникальные для Украины услуги. Например, терапия геморроя по методике Hal-Rar. Концепция работы медицинского центра подразумевает не только предоставление качественных услуг в терапии и диагностике, но и комплексную психологическую поддержку
            </div>
            <div class="card__work-time text--sub">
                Пн-Пт : 8:00-21:00 Сб : 9:00-18:00 Вс : выходной
            </div>
            <div class="card__address-row text">
                <div class="card__address ">
                    ул. Ивана Крамского, 9. <a href="#">На карте</a>
                </div>
                <div class="card__address-sub">
                    Голосеевский , м.Голосеевская, м.Теремки, м.Васильковская
                </div>
            </div>
            <button class="button button--large">
                Записаться на прием
            </button>
        </div>
    </div>


</div>