<div class="faq">
    <div class="faq__item">
        <div class="faq__question ">
            <h3>
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>


        <div class="faq__question">
            <h3 class="h3">
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi
                    voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>


        <div class="faq__question">
            <h3 class="h3">
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi
                    voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>


        <div class="faq__question">
            <h3 class="h3">
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi
                    voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>


        <div class="faq__question">
            <h3 class="h3">
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi
                    voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>


        <div class="faq__question">
            <h3 class="h3">
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi
                    voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>


        <div class="faq__question">
            <h3 class="h3">
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi
                    voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>


        <div class="faq__question">
            <h3 class="h3">
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi
                    voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>


        <div class="faq__question">
            <h3 class="h3">
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi
                    voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>


        <div class="faq__question">
            <h3 class="h3">
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi
                    voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>


        <div class="faq__question">
            <h3 class="h3">
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi
                    voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>


        <div class="faq__question">
            <h3 class="h3">
                What is jQuery?
            </h3>
        </div>
        <div class="faq__answear">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dolor eius labore, nesciunt
                    nostrum quisquam! Amet at distinctio dolore eius id obcaecati qui reiciendis sapiente. Est maxime
                    nisi
                    voluptas!
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </div>

    </div>
</div>

