<section class="footer">
    <div class="container">
        <a href="/" class="footer__logo">
                <img src="/images/logo-light.svg" alt="">
        </a>
        <div class="footer__row">
            <div class="footer__col">
                <h3 class="h3">
                    СЕРВИС
                </h3>
                <ul>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">О рейтинге</a>
                    </li>
                    <li>
                        <a href="#">Партнерам</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h3 class="h3">
                    ПАЦИЕНТУ
                </h3>
                <ul>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">О рейтинге</a>
                    </li>
                    <li>
                        <a href="#">Партнерам</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h3 class="h3">
                    КОТАКТЫ
                </h3>
                <ul>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">О рейтинге</a>
                    </li>
                    <li>
                        <a href="#">Партнерам</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright text">
            <p>
                © Ukr Clinic, 2022 | Использование материалов разрешено только при наличии активной ссылки на источник
            </p>
        </div>
    </div>
</section>