
<!-- The Modal -->
<div id="contentPopup" class="popup-wrapper">

    <!-- Modal content -->
    <div class="popup-content">
        <span class="close">X</span>
        <div class="lang-wrapper">

            Оберіть мовну версію сайту.
            За замовчуванням Ukr Clinic відображається українською мовою.
            <br/>
            <br/>
            <div class="btn-lang-wrapper">
                <button class="btn-ru" onclick="funcRu()">Перейти на російську</button>
                <button class="btn-ua" onclick="funcUa()">Залишитись на українській</button>
            </div>
            <br/>
            <br/>
            <b> Слава Україні! Героям слава!</b>
            <br/>
            Ви будете перенаправлені на українську версію сайту через
            <span id="countdowntimer">10</span> секунд
        </div>
    </div>

</div>

