<div class="modal" id="modal-one">
    <div class="modal__blur"></div>
    <div class="modal__container">

        <h2>Modal window</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto consequuntur, culpa dicta dolores est exercitationem explicabo fuga fugit illo, impedit ipsa modi, odio repudiandae voluptates. Animi ea error magnam?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi doloremque expedita nemo quidem ratione, tenetur veritatis! Accusamus animi cumque dolore dolorum et expedita id magnam perspiciatis. Ducimus, eum explicabo.
        </p>
        <button class="button button--large">
            Book now
        </button>
        <button class="modal__hide">
            X
        </button>
    </div>
</div>

<!--<div class="cookie-policy">-->
<!--    <div class="cookie-policy__text">-->
<!--        Сайт використовує куки.-->
<!--        <button>-->
<!--            Закрити-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="modal" id="modal-one">-->
<!--    <div class="modal-bg modal-exit"></div>-->
<!--    <div class="modal-container">-->
<!--        <h2>-->
<!--            Запишись на прийом до клініки сьогодні!-->
<!--        </h2>-->
<!--        <form class="form">-->
<!--            <div class="form__field">-->
<!--                <label class="form__label" for="name">-->
<!--                    Ваше імʼя:-->
<!--                </label>-->
<!--                <input type="text" class="form__input" id="name" name="name"/>-->
<!--            </div>-->
<!--            <div class="form__field">-->
<!--                <label class="form__label" for="phone">-->
<!--                    Ваш телефон:-->
<!--                </label>-->
<!--                <input type="phone" class="form__input" id="phone" name="phone"/>-->
<!--            </div>-->
<!--            <button class="button button&#45;&#45;large">-->
<!--                Записатись-->
<!--            </button>-->
<!--        </form>-->

<!--        <button class="modal-close modal-exit">X</button>-->
<!--    </div>-->
<!--</div>-->