.card-blog {
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: calc(50% - 70px);
  margin-bottom: 30px;
  padding: 20px;
  &__content {
    width: calc(100% - 230px);
  }
  &__image {
    width: 200px;

    img {
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
      display: block;
      object-fit: cover;

    }
  }
}
.blog-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}